<!DOCTYPE html>
<html>
  <head>
    <title>node-twitch-web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<% if (!user) { %>
		<p>
		<a href="/">Home</a> | 
		<a href="/login">Log In</a>
		</p>
	<% } else { %>
		<p>
		<a href="/">Home</a> | 
		<a href="/account">Account</a> | 
		<a href="/logout">Log Out</a>
		</p>
	<% } %>
	<%- body %>
  </body>
</html>